# disable error bell
set bell-style none

# ignore case while completing
set completion-ignore-case on

# List all matches in case multiple possible completions are possible
set show-all-if-ambiguous on

# show all autocomplete resultd at once
set page-completions off

# Flip through autocompletion matches with Shift-Tab.
"\e[Z": menu-complete

# Show extra file information when completing, like `ls -F` does
set visible-stats on

# Allow UTF-8 input and output, instead of showing stuff like $'\0123\0456'
set input-meta on
set output-meta on
set convert-meta off

# Filtered history search
"\e[A": history-search-backward
"\e[B": history-search-forward
